$color_dark: #262626;
$color_black: #000;
$color_primary: #d3ab55;
$color_secondary: #bbb;

$font_dancingScript : 'Dancing Script', cursive;
$font_josefinSans: 'Josefin Sans', sans-serif;
$font_nunito: "Nunito", sans-serif;

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyle {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin centering($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%,-50%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $color_dark;
}