$color_dark: #262626;
$color_black: #000;
$color_primary: #d3ab55;
$color_secondary: #bbb;

$font_dancingScript : 'Dancing Script', cursive;
$font_josefinSans: 'Josefin Sans', sans-serif;
$font_nunito: "Nunito", sans-serif;
$font_Sahel: Sahel, Tahoma;
$font_Nastaliq: Nastaliq, Tahoma;

@font-face {
    font-family: Sahel;
    src: url(../fonts/Sahel.eot);
    src: url(../fonts/Sahel.ttf) format("ttf");
    src: url(../fonts/Sahel.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: Nastaliq;
    src: url(../fonts/IranNastaliq.ttf) format("ttf");
    font-weight: normal;
}

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyle {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin centering($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%,-50%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $color_dark;
}